<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GeoPhoto</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link href='http://fonts.googleapis.com/css?family=Prosto+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/stylesheet.css" type="text/css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" type="text/css">
        <link rel="stylesheet" href="/static/js/lib/markercluster/MarkerCluster.css" />
        <link rel="stylesheet" href="/static/js/lib/markercluster/MarkerCluster.Default.css" />

        <link rel="alternate" type="application/json+oembed"
            href="http://venturelog.io/services/oembed/?url=http://venturelog.io/{{ request.path }}"
            title="venturelog oembed" />

        <script src="/static/js/lib/imgix.js"></script>
        <script>
            imgix.onready(function() {
            imgix.fluid({
              updateOnResizeDown: true,
              pixelStep: 5,
              autoInsertCSSBestPractices: true
            });
          });
        </script>

    </head>
    
    <body>
        <div id="container"></div>

        <script type="text/html" id="layout">
            {% include 'layout.html' %}
        </script>

        <script type="text/html" id="home_templ">
            {% include 'home.html' %}
        </script>

        <script type="text/html" id="home_item_templ">
            {% include 'home_item.html' %}
        </script>

        <script type="text/html" id="mapview_templ">
            {% include 'map.html' %}
        </script>

        <script type="text/html" id="photoview_templ">
            {% include 'photoview.html' %}
        </script>

        <script type="text/html" id="article_templ">
            {% include 'article.html' %}
        </script>

        <!-- Prereqs -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.1.0/load-image.all.min.js"></script>
        <script src="/static/js/lib/markercluster/leaflet.markercluster-src.js"></script>
        
        <script src="/static/js/lib/imgix.jquery.js"></script>
        
        <!-- My backbone special sauce -->
        <script src="/static/js/backbase.js" type="text/javascript"></script>
        
        <!-- Geophoto proper -->
        <script src="/static/js/home.js" type="text/javascript"></script>
        <script src="/static/js/map.js" type="text/javascript"></script>
        <script src="/static/js/photo.js" type="text/javascript"></script>
        <script src="/static/js/article.js" type="text/javascript"></script>
        <script src="/static/js/geophoto.js" type="text/javascript"></script>
    </body>
</html>
